.component {
  box-sizing: border-box;
  flex-basis: 14.285714286%;
  max-height: 250px;
  overflow: hidden;
  padding: 20px;

  img {
    display: block;
    margin: 0 auto;
  }
}
.day-of-week {
  text-align: center;
  text-transform: uppercase;
}
.high, .low {
  text-align: center;
}