@import '../theme/_layout';

.component {
  box-sizing: border-box;
  flex-basis: 14.285714286%;
  max-height: 250px;
  overflow: hidden;
  padding: 3% 0;
}
.day-of-week {
  text-align: center;
  text-transform: uppercase;
}
.date {
  color: rgba(0, 0, 0, 0.7);
  font-size: 70%;
  text-align: center;
  text-transform: uppercase;
}
.icon {
  display: block;
  height: 40px;
  margin: 5px auto;
  width: 40px;
}
.temp {
  text-align: center;
}
.temp:after {
  content: '°';
}
.high {
  @extend .temp;
  color: rgba(0, 0, 0, 0.9);
  font-weight: $font-weight-bold;
}
.low {
  @extend .temp;
  font-size: 90%;
}